global
    log stdout format raw local0
    maxconn 256

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend campus_api
    bind *:8080
    http-response set-header X-Campus-LB ${LB_NAME}
    default_backend istio_gateway

backend istio_gateway
    option httpchk
    http-check send meth GET uri /healthz/ready ver HTTP/1.1 hdr Host localhost
    http-check expect status 200
    server campus 192.168.49.2:31776 check port 32697 inter 3s fall 3 rise 2
